<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Afghanistan</string>
		<key>population</key>
		<integer>38928346</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Albania</string>
		<key>population</key>
		<integer>2877797</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Algeria</string>
		<key>population</key>
		<integer>43851044</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Andorra</string>
		<key>population</key>
		<real>77265</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Angola</string>
		<key>population</key>
		<integer>32866272</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Antigua and Barbuda</string>
		<key>population</key>
		<real>97929</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Argentina</string>
		<key>population</key>
		<real>45195774</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Armenia</string>
		<key>population</key>
		<real>2963243</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Australia</string>
		<key>population</key>
		<real>25499884</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Austria</string>
		<key>population</key>
		<real>9006398</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Azerbaijan</string>
		<key>population</key>
		<real>10139177</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bahamas</string>
		<key>population</key>
		<real>393244</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bahrain</string>
		<key>population</key>
		<real>1701575</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bangladesh</string>
		<key>population</key>
		<real>164689383</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Barbados</string>
		<key>population</key>
		<real>287375</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Belarus</string>
		<key>population</key>
		<real>9449323</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Belgium</string>
		<key>population</key>
		<real>11589623</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Belize</string>
		<key>population</key>
		<real>397628</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Benin</string>
		<key>population</key>
		<real>12123200</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bhutan</string>
		<key>population</key>
		<real>771608</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bolivia</string>
		<key>population</key>
		<real>11673021</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
		<key>population</key>
		<real>3280819</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Botswana</string>
		<key>population</key>
		<real>2351627</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Brazil</string>
		<key>population</key>
		<real>212559417</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Brunei</string>
		<key>population</key>
		<real>437479</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulgaria</string>
		<key>population</key>
		<real>6948445</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Burkina Faso</string>
		<key>population</key>
		<real>20903273</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Burundi</string>
		<key>population</key>
		<real>11890784</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Côte d&apos;Ivoire</string>
		<key>population</key>
		<real>26378274</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cabo Verde</string>
		<key>population</key>
		<real>555987</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cambodia</string>
		<key>population</key>
		<real>16718965</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cameroon</string>
		<key>population</key>
		<real>26545863</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Canada</string>
		<key>population</key>
		<real>37742154</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Central African Republic</string>
		<key>population</key>
		<real>4829767</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chad</string>
		<key>population</key>
		<real>16425864</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chile</string>
		<key>population</key>
		<real>19116201</real>
	</dict>
	<dict>
		<key>name</key>
		<string>China</string>
		<key>population</key>
		<real>1439323776</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Colombia</string>
		<key>population</key>
		<real>50882891</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Comoros</string>
		<key>population</key>
		<real>869601</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Congo (Congo-Brazzaville)</string>
		<key>population</key>
		<real>5518087</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Costa Rica</string>
		<key>population</key>
		<real>5094118</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Croatia</string>
		<key>population</key>
		<real>4105267</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cuba</string>
		<key>population</key>
		<real>11326616</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cyprus</string>
		<key>population</key>
		<real>1207359</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Czechia (Czech Republic)</string>
		<key>population</key>
		<real>10708981</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Democratic Republic of the Congo</string>
		<key>population</key>
		<real>89561403</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Denmark</string>
		<key>population</key>
		<real>5792202</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominica</string>
		<key>population</key>
		<real>71986</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Djibouti</string>
		<key>population</key>
		<real>988000</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominican Republic</string>
		<key>population</key>
		<real>10847910</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ecuador</string>
		<key>population</key>
		<real>17643054</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Egypt</string>
		<key>population</key>
		<real>102334404</real>
	</dict>
	<dict>
		<key>name</key>
		<string>El Salvador</string>
		<key>population</key>
		<real>6486205</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Equatorial Guinea</string>
		<key>population</key>
		<real>1402985</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Eritrea</string>
		<key>population</key>
		<real>3546421</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Estonia</string>
		<key>population</key>
		<real>1326535</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Eswatini (fmr. &quot;Swaziland&quot;)</string>
		<key>population</key>
		<real>1160164</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethiopia</string>
		<key>population</key>
		<real>114963588</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Fiji</string>
		<key>population</key>
		<real>896445</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Finland</string>
		<key>population</key>
		<real>5540720</real>
	</dict>
	<dict>
		<key>name</key>
		<string>France</string>
		<key>population</key>
		<real>65273511</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabon</string>
		<key>population</key>
		<real>2225734</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Gambia</string>
		<key>population</key>
		<real>2416668</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Georgia</string>
		<key>population</key>
		<real>3989167</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Germany</string>
		<key>population</key>
		<real>83783942</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ghana</string>
		<key>population</key>
		<real>31072940</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Greece</string>
		<key>population</key>
		<real>10423054</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Grenada</string>
		<key>population</key>
		<real>112523</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guatemala</string>
		<key>population</key>
		<real>17915568</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guinea</string>
		<key>population</key>
		<real>13132795</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guinea-Bissau</string>
		<key>population</key>
		<real>1968001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guyana</string>
		<key>population</key>
		<real>786552</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Haiti</string>
		<key>population</key>
		<real>11402528</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Holy See</string>
		<key>population</key>
		<integer>801</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Honduras</string>
		<key>population</key>
		<real>9904607</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hungary</string>
		<key>population</key>
		<real>9660351</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Iceland</string>
		<key>population</key>
		<real>341243</real>
	</dict>
	<dict>
		<key>name</key>
		<string>India</string>
		<key>population</key>
		<real>1380004385</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Indonesia</string>
		<key>population</key>
		<real>273523615</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Iran</string>
		<key>population</key>
		<real>83992949</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Iraq</string>
		<key>population</key>
		<real>40222493</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ireland</string>
		<key>population</key>
		<real>4937786</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Israel</string>
		<key>population</key>
		<real>8655535</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Italy</string>
		<key>population</key>
		<real>60461826</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jamaica</string>
		<key>population</key>
		<real>2961167</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Japan</string>
		<key>population</key>
		<real>126476461</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jordan</string>
		<key>population</key>
		<real>10203134</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kazakhstan</string>
		<key>population</key>
		<real>18776707</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kenya</string>
		<key>population</key>
		<real>53771296</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiribati</string>
		<key>population</key>
		<real>119449</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kuwait</string>
		<key>population</key>
		<real>4270571</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kyrgyzstan</string>
		<key>population</key>
		<real>6524195</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Laos</string>
		<key>population</key>
		<real>7275560</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Latvia</string>
		<key>population</key>
		<real>1886198</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lebanon</string>
		<key>population</key>
		<real>6825445</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lesotho</string>
		<key>population</key>
		<real>2142249</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Liberia</string>
		<key>population</key>
		<real>5057681</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Libya</string>
		<key>population</key>
		<real>6871292</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Liechtenstein</string>
		<key>population</key>
		<real>38128</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lithuania</string>
		<key>population</key>
		<real>2722289</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Luxembourg</string>
		<key>population</key>
		<real>625978</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Madagascar</string>
		<key>population</key>
		<real>27691018</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Malawi</string>
		<key>population</key>
		<real>19129952</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Malaysia</string>
		<key>population</key>
		<real>32365999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Maldives</string>
		<key>population</key>
		<real>540544</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mali</string>
		<key>population</key>
		<real>20250833</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Malta</string>
		<key>population</key>
		<real>441543</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Marshall Islands</string>
		<key>population</key>
		<real>59190</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mauritania</string>
		<key>population</key>
		<real>4649658</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mauritius</string>
		<key>population</key>
		<real>1271768</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mexico</string>
		<key>population</key>
		<real>128932753</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Micronesia</string>
		<key>population</key>
		<real>115023</real>
	</dict>
	<dict>
		<key>name</key>
		<string>115,023	</string>
		<key>population</key>
		<real>4033963</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Monaco</string>
		<key>population</key>
		<real>39242</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mongolia</string>
		<key>population</key>
		<real>3278290</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Montenegro</string>
		<key>population</key>
		<real>628066</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Morocco</string>
		<key>population</key>
		<real>36910560</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mozambique</string>
		<key>population</key>
		<real>31255435</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Myanmar (formerly Burma)</string>
		<key>population</key>
		<real>54409800</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Namibia</string>
		<key>population</key>
		<real>2540905</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nauru</string>
		<key>population</key>
		<real>10824</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nepal</string>
		<key>population</key>
		<real>29136808</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Netherlands</string>
		<key>population</key>
		<real>17134872</real>
	</dict>
	<dict>
		<key>name</key>
		<string>New Zealand</string>
		<key>population</key>
		<real>4822233</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nicaragua</string>
		<key>population</key>
		<real>6624554</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Niger</string>
		<key>population</key>
		<real>24206644</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nigeria</string>
		<key>population</key>
		<real>206139589</real>
	</dict>
	<dict>
		<key>name</key>
		<string>North Korea</string>
		<key>population</key>
		<real>25778816</real>
	</dict>
	<dict>
		<key>name</key>
		<string>North Macedonia</string>
		<key>population</key>
		<real>2083374</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Norway</string>
		<key>population</key>
		<real>5421241</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Oman</string>
		<key>population</key>
		<real>5106626</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Pakistan</string>
		<key>population</key>
		<real>220892340</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Palau</string>
		<key>population</key>
		<real>18094</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Palestine State</string>
		<key>population</key>
		<real>5101414</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Panama</string>
		<key>population</key>
		<real>4314767</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Papua New Guinea</string>
		<key>population</key>
		<real>8947024</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Paraguay</string>
		<key>population</key>
		<real>7132538</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Peru</string>
		<key>population</key>
		<real>32971854</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Philippines</string>
		<key>population</key>
		<real>109581078</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Poland</string>
		<key>population</key>
		<real>37846611</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Portugal</string>
		<key>population</key>
		<real>10196709</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Qatar</string>
		<key>population</key>
		<real>2881053</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Romania</string>
		<key>population</key>
		<real>19237691</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Russia</string>
		<key>population</key>
		<real>145934462</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Rwanda</string>
		<key>population</key>
		<real>12952218</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Kitts and Nevis</string>
		<key>population</key>
		<real>53199</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Lucia</string>
		<key>population</key>
		<real>183627</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>population</key>
		<real>110940</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Samoa</string>
		<key>population</key>
		<real>198414</real>
	</dict>
	<dict>
		<key>name</key>
		<string>San Marino</string>
		<key>population</key>
		<real>33931</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sao Tome and Principe</string>
		<key>population</key>
		<real>219159</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>population</key>
		<real>34813871</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Senegal</string>
		<key>population</key>
		<real>16743927</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Serbia</string>
		<key>population</key>
		<real>8737371</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Seychelles</string>
		<key>population</key>
		<real>98347</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sierra Leone</string>
		<key>population</key>
		<real>7976983</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Singapore</string>
		<key>population</key>
		<real>5850342</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Slovakia</string>
		<key>population</key>
		<real>5459642</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Slovenia</string>
		<key>population</key>
		<real>2078938</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Solomon Islands</string>
		<key>population</key>
		<real>686884</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Somalia</string>
		<key>population</key>
		<real>15893222</real>
	</dict>
	<dict>
		<key>name</key>
		<string>South Africa</string>
		<key>population</key>
		<real>59308690</real>
	</dict>
	<dict>
		<key>name</key>
		<string>South Korea</string>
		<key>population</key>
		<real>51269185</real>
	</dict>
	<dict>
		<key>name</key>
		<string>South Sudan</string>
		<key>population</key>
		<real>11193725</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Spain</string>
		<key>population</key>
		<real>46754778</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sri Lanka</string>
		<key>population</key>
		<real>21413249</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sudan</string>
		<key>population</key>
		<real>43849260</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Suriname</string>
		<key>population</key>
		<real>586632</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sweden</string>
		<key>population</key>
		<real>10099265</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Switzerland</string>
		<key>population</key>
		<real>8654622</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Syria</string>
		<key>population</key>
		<real>17500658</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tajikistan</string>
		<key>population</key>
		<real>9537645</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tanzania</string>
		<key>population</key>
		<real>59734218</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Thailand</string>
		<key>population</key>
		<real>69799978</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Timor-Leste</string>
		<key>population</key>
		<real>1318445</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Togo</string>
		<key>population</key>
		<real>8278724</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tonga</string>
		<key>population</key>
		<real>105695</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Trinidad and Tobago</string>
		<key>population</key>
		<real>1399488</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tunisia</string>
		<key>population</key>
		<real>11818619</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkey</string>
		<key>population</key>
		<real>84339067</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkmenistan</string>
		<key>population</key>
		<real>6031200</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tuvalu</string>
		<key>population</key>
		<real>11792</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Uganda</string>
		<key>population</key>
		<real>45741007</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ukraine</string>
		<key>population</key>
		<real>43733762</real>
	</dict>
	<dict>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>population</key>
		<real>9890402</real>
	</dict>
	<dict>
		<key>name</key>
		<string>United Kingdom</string>
		<key>population</key>
		<real>67886011</real>
	</dict>
	<dict>
		<key>name</key>
		<string>United States of America</string>
		<key>population</key>
		<real>331002651</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Uruguay</string>
		<key>population</key>
		<real>3473730</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Uzbekistan</string>
		<key>population</key>
		<real>33469203</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Vanuatu</string>
		<key>population</key>
		<real>307145</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Venezuela</string>
		<key>population</key>
		<real>28435940</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Vietnam</string>
		<key>population</key>
		<real>97338579</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Yemen</string>
		<key>population</key>
		<real>29825964</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Zambia</string>
		<key>population</key>
		<real>18383955</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Zimbabwe</string>
		<key>population</key>
		<real>14862924</real>
	</dict>
</array>
</plist>
